@font-face {
    font-family: norseBold;
    src: url(./Norse-Bold.otf);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --logo-bg-color: rgb(0, 0, 0, 0.5);
    --button-color: rgb(89, 109, 72);
    --system-ui: font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    min-height: 100vh;
    display: flex;
    font-family: var(--system-ui);
}

.left-container {
    background: url(./background-image.jpg);
    width: 30%;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    gap: 30px;
    background-color: rgb(245, 245, 245);
}

.logo-container {
    background-color: var(--logo-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: norseBold;
    font-size: 4rem;
    position: relative;
    top: 25%;
    width: 100%;
}

.left-container a {
    color: rgb(255, 255, 255);
}

.left-container > p {
    margin-bottom: 15px;
}

form {
    box-shadow: rgb(0, 0, 0, 0.3) 1px 3px 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
    background: rgb(255, 255, 255);
}

fieldset {
    border: 0;
    display: flex;
    gap: 32px;
}

fieldset p {
    display: flex;
    flex-direction: column;
}

button {
    background-color: var(--button-color);
    margin-left: 32px;
    color: rgb(255, 255, 255);
    padding: 10px 50px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.right-container p a {
    text-decoration: none;
    color: var(--button-color);
}

.right-container > p {
    margin-left: 32px;
    font-size: 1.5rem;
    max-width: 60ch;
    font-weight: 600;
}

.right-container > p:last-child {
    font-weight: normal;
}

span {
    font-style: italic;
}
