@font-face {
    font-family: norseBold;
    src: url(./Norse-Bold.otf);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

:root {
    --logo-bg-color: rgb(0, 0, 0, 0.5);
}

html {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
}

.left-container {
    background: url(./background-image.jpg);
    width: 30%;
    color: rgb(255, 255, 255);
}

.right-container {
    width: 70%;
}

.logo-container {
    background-color: var(--logo-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: norseBold;
    font-size: 4rem;
}

.left-container a {
    color: rgb(255, 255, 255);
}